// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro');

// Variables
$black: #000;
$light-gray: #aaa;

// Fonts
$monospace: 'Inconsolata', Courier, monospace;
$sans: 'Roboto', sans-serif;
