// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro');

// Variables
$bg-color: #fff;
$header-bg-color: #f1f1f2;
$theme: #000;

$theme--darker: darken($theme, 20%);
$theme--dark: darken($theme, 10%);
$theme-base: $theme;
$theme--light: lighten($theme, 10%);
$theme--lighter: lighten($theme, 20%);

$monospace: 'Inconsolata', Courier, monospace;
$sans: 'Roboto', sans-serif;

$filter: #bbb;
$filter--selected: #000;
