@import 'components';

.example {
    padding: 1em .5em;

    &__title {
        font-size: 1.5em;
        font-family: $sans;
        display: inline-block;
        color: $black;
    }
    &__desc {
        font-size: 1em;
        font-family: $sans;
        display: inline-block;
        color: $light-gray;
    }
}

.content {
    font-size: .8em;

    h3 {
        font-size: 1em;
        margin: 1em 0 .5em 1rem;
        font-family: $sans;
    }
}

.results {
    border: 1px solid $light-gray;
    padding: .5rem;
}

.details {
    margin-top: 2em;

    p {
        font-family: $sans;
    }
    ul {
        list-style: disc outside none;
        margin: .5rem 0 0 1.5rem;
    }
    li {
        padding: .25em 0;
    }
    a {
        color: $blue;
        text-decoration: none;
        font-family: $sans;
    }
}
