@import url(https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro);
/* RESET */
html, body, h1, h2, h3, h4, h5, h6, p, q, ol, ul, li, dl, lh, dt, dd, pre, code, address, variable, form, fieldset, blockquote, cite, button {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal; }

html, body {
  width: 100%;
  height: 100%; }

html {
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

* {
  box-sizing: border-box;
  /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a img {
  border: 0; }

button {
  background: none;
  border: 0;
  border-radius: 0;
  cursor: pointer; }

.header {
  padding: 1rem;
  text-align: center; }
  .header__title {
    font-size: 2em;
    font-family: "Roboto", sans-serif;
    padding-bottom: .2em; }
  .header__desc {
    font-size: .8em;
    font-family: "Roboto", sans-serif; }

.example {
  padding: 1em .5em; }
  .example__title {
    font-size: 1.5em;
    font-family: "Roboto", sans-serif;
    display: inline-block;
    color: #000; }
  .example__desc {
    font-size: 1em;
    font-family: "Roboto", sans-serif;
    display: inline-block;
    color: #aaa; }

.code-block {
  font-size: .8em; }

