<section class="example">
    <h2 class="example__title">{{ title }}</h2>
    <p class="example__desc">~{{ desc }}</p>

    <div class="content">
        {{{ content }}}
    </div>

    <div class="details">
        {{{ details }}}
    </div>
</section>
