<div class="header-container">
    <header class="header">
        <div class="header__content">
            <h1 class="page-title"><a href="{{{ url }}}">{{ title }}</a></h1>
        </div>

        <div class="filter  js-filter">
            <h3 class="filter__title">filter:</h3>
            <form class="filter__form" method="get">
                <input class="filter-option  js-filter-option--writing" type="checkbox" name="writing" id="writing" value="false" />
                <label for="writing">writing</label>

                <input class="filter-option  js-filter-option--pictures" type="checkbox" name="pictures" id="pictures" value="false" />
                <label for="pictures">pictures</label>
            </form>
        </div>
    </header>
</div>
